/* NOTE: This is GTK CSS Syntax. See here for more documentation:
 *
 * https://docs.gtk.org/gtk4/css-properties.html
 */

/*
@define-color solarized-base03	 #002b36;
@define-color solarized-base02	 #073642;
@define-color solarized-base01	 #586e75;
@define-color solarized-base00	 #657b83;
@define-color solarized-base0	 #839496;
@define-color solarized-base1	 #93a1a1;
@define-color solarized-base2	 #eee8d5;
@define-color solarized-base3	 #fdf6e3;
@define-color solarized-yellow	 #b58900;
@define-color solarized-orange	 #cb4b16;
@define-color solarized-red      #dc322f;
@define-color solarized-magenta  #d33682;
@define-color solarized-violet	 #6c71c4;
@define-color solarized-blue	 #268bd2;
@define-color solarized-cyan	 #2aa198;
@define-color solarized-green	 #859900;
@define-color custom-border      @solarized-base3;
*/

@define-color solarized-base02	 #24292e;
@define-color solarized-base01	 #dbe9f9;
@define-color solarized-base00	 #666666;
@define-color solarized-base2	 #ffffff;
@define-color solarized-base3	 #d1d5da;
@define-color solarized-yellow   #dbab09;
@define-color solarized-orange   #ffab02;
@define-color solarized-red      #d73a49;
@define-color solarized-magenta  #d91a79;
@define-color solarized-violet   #5a32a3;
@define-color solarized-blue     #0366d6;
@define-color solarized-cyan     #0598bc;
@define-color solarized-green    #38d745;
@define-color custom-border      @solarized-base00;

* {
	font-size: 13px;
    font-family: JetBrainsMono Nerd Font;
    padding: 3px 3px 3px 3px;
}

window.eDP-1 * {
	font-size: 14px;
}

window#waybar {
	background: @solarized-base2;
	color:  @solarized-base02;

    /* border to match the border on windows of sway */
    border: solid @solarized-base01;
    border-width: 0px 0px 1px 0px;
}

#cpu {
    /* no idea why that margin is needed */
    margin-top: 5px;
}

#workspaces,
#mode,
#window,
#taskbar,
#idle_inhibitor,
#custom-weather,
#pulseaudio,
#memory,
#cpu,
#clock,
#battery,
#backlight,
#disk,
#custom-pacman,
#custom-aur,
#custom-swap,
#custom-playerctl,
#temperature,
#network,
#custom-load,
#tray {
	padding: 0px 7px 0px 7px;
	background: @solarized-base2;
	text-shadow: 1px 1px 2px rgba(147, 161, 161, 0.4);
}

#custom-load,
#custom-swap,
#disk,
#backlight,
#temperature {
    /* Create strip effect on the right with lighter color */
	background: @solarized-base3;
	border-radius: 6px 6px 6px 6px;
}

#custom-load {
    border: solid @custom-border;
	border-radius: 2px;
    border-width: 1px 1px 1px 1px;
	padding-right: 5px;
    background-color: alpha(@solarized-red, 0.5);
}

#custom-swap {
    border: solid @custom-border;
	border-radius: 2px;
    border-width: 1px 1px 1px 1px;
	padding-right: 5px;
    background-color: alpha(@solarized-orange, 0.5);
}

#disk{
    border: solid @custom-border;
	border-radius: 2px;
    border-width: 1px 1px 1px 1px;
	padding-right: 5px;
    background-color: alpha(@solarized-yellow, 0.5);
}

#backlight{
    border: solid @custom-border;
	border-radius: 2px;
    border-width: 1px 1px 1px 1px;
	padding-right: 5px;
    background-color: alpha(@solarized-green, 0.5);
}

#temperature {
    border: solid @custom-border;
	border-radius: 2px;
    border-width: 1px 1px 1px 1px;
	padding-right: 5px;
    background-color: alpha(@solarized-blue, 0.5);
}

#workspaces {
}

#mode {
	background: @solarized-magenta;
}

#disk.1,
#memory {
	padding-right: 3px;
}
#disk.2,
#custom-swap {
	padding-left: 3px;
}

/* MIDDLE PART */

#custom-weather {
    border: solid @custom-border;
	border-radius: 0px 0px 0px 0px;
    border-width: 1px 0px 1px 1px;
    background-color: alpha(@solarized-cyan, 0.5);
}

#custom-playerctl {
    border: solid @custom-border;
	border-radius: 0px 0px 0px 0px;
    border-width: 1px 0px 1px 0px;
    background-color: alpha(@solarized-blue, 0.5);
}

#clock {
    border: solid @custom-border;
	border-radius: 0px 0px 0px 0px;
    border-width: 1px 0px 1px 0px;
    padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
    background-color: alpha(@solarized-violet, 0.5);
}

#custom-pacman {
    border: solid @custom-border;
	border-radius: 0px 2px 2px 0px;
    border-width: 1px 1px 1px 0px;
	padding-left: 5px;
    background-color: alpha(@solarized-magenta, 0.5);
}

#custom-weather,
#idle_inhibitor {
	border-radius: 0px 2px 2px 0px;
}

/* WORKPLACE SETTINGS */

#workspaces {
	padding: 2px;
}

#workspaces button {
    border: solid @custom-border;
	border-radius: 2px 2px 2px 2px;
    border-width: 1px 1px 1px 1px;
	padding-left: 5px;
	padding-right: 7px;
    margin-left: 2px;
    margin-right: 2px
}

#workspaces button:hover {
	background: alpha(@solarized-violet, 0.5);
    border-color: @solarized-base03;
}

#workspaces button.active:hover {
    border-color: @solarized-base03;
}

#workspaces button.visible {
    /* Currently visible but not focused workplace,
     * typically on another output */
    background: alpha(@solarized-blue, 0.25);
}

#workspaces button.focused {
	background: alpha(@solarized-green, 0.75);
}

#workspaces button.urgent {
    /* workplace with urgent apps,
     * takes precedence over focused */
    background: alpha(@solarized-magenta, 0.5);
}
